/* Colors */
/* Dark-Grey (for text ) #424242; */
/* Teal: #40938d;
Dark Teal: #25464a;
Lime: #afca6c;
Light Grey: #c5c6c1;
Blue Grey: #7f939c; */


/* ------------------------ */
/* BASIC SET-UP */
/* ------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #424242;
  font-family: 'Raleway', 'Calibri', sans-serif;
  font-weight: 300;
  /* Standard font size; all other fonts should be relative via % rather than pixels */
  font-size: 20px;
  /* NOTE: review "text-rendering" declaration */
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* Used for clearing the floats; ex. the image grid section needs this in order
for that section to have a height of more than 0px */
/* .clearfix {zoom:1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
} */

/* ------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------ */

.row {
  /* standard width of screens */
  max-width: 1140px;
  margin: 0 auto;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 150px 0 5px 5px;
  float: left;
}

.triangle-down {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 550px solid transparent;
  border-right: 550px solid transparent;
  border-top: 310px solid #25464a;
}

.teal {
  background-color: #40938d;
  margin-left: 35%;
}

.dark-teal {
  background-color: #25464a;
}

.lime {
  background-color: #afca6c;
}

.dark-grey {
  background-color: #424242;
}

.lt-grey {
  background-color: #c5c6c1;
}

.blue-grey {
  background-color: #7f939c;
}

/*-------- HEADINGS ---------*/

h2,
h3 {
  /* Reduce font-weight when using bigger font-size */
  font-weight: 200;
  text-transform: uppercase;
}

.logo {
  /* removes margin coming from normalize.css, but also grants buffer at the bottom */
  /* margin: 0 0 20px 250px; */
  /* margin-top: 55px; */
  color:#fff;
  /* example of relative font sizes in use */
  font-size: 300%;
  font-weight: 150;
  word-spacing: 4px;
  /* letter-spacing: 1px; */
  /* font-family: 'Reenie Beanie', cursive; */
  /* font-family: 'Chathura', sans-serif; */
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/* .tagline {
  sfont-family: 'Codystar', cursive;
  text-align: center;
  color: #424242;
  font-size: 90%;
  font-weight: 500;
  word-spacing: 4px;
  margin-top: -35px;
} */

.logo:after {
  display: block;
  height: 2px;
  background-color: #afca6c;
  /* NOTE: Important to have "content" declaration when using the ::after pseudo-element */
  content: " ";
  width: 200px;
  /* center :after line via "margin" declaration */
  margin: 0 auto;
  margin-top: 30px;
}

/*---------- PARAGRAPHS ----------*/

.long-copy {
  line-height: 145%;
  width: 70%;
  /* 100% - 70% = 30%, divided in two is 15%; by setting margin 15%, <p> will be centered  */
  margin-left: 15%;
}

/* ------------------------ */
/*  LANDING PAGE HEADER */
/* ------------------------ */

header {
  /* basically have two background imgs: one is a % transperency of black,
  the other is the hero img. The "gradient" simply darkens the hero img
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(img/smooth-teal.jpg);
  background-size: cover;
  background-position: center;
  /* vh shows full view height of the browser; has image fit to screen */
  height: 100vh;
  /* bg-attachment causes that cool effect where image is still while user scrolls */
  background-attachment: fixed;
  /* padding-top: 30px; */
}

/* Main Navi */

.main-nav {
  /* float: right; */
  /* "list-style" gets rid of the bullet points for the list */
  list-style: none;
  text-align:  center;
  /* margin-top: 20px; */
}

.main-nav li {
  /* "display" arranges <li> elements side-by-side as inline blocks instead of stacked blocks */
  display: inline-block;
  margin-left: 50px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  /* "text-decoration" gets rid of the underline for the links */
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: #424242;
  border-bottom: 2px solid #afca6c;
}
